/*
Color Palette: #937DC2
background color: #937DC2
font color: #FFE6F7      
secondary color: #C689C6
tertiary color: #FFABE1  
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

html {
    font-size: 62.5%;    /* Default font size is 16px -  62.5% of 16 is 10px -
                            1 rem (relative unit) now will be equivalent to 10px) */
}

header {
    margin: 0rem;
    letter-spacing: 0.4rem;
    text-align: center;
    border-bottom: 2px solid #937DC2;
    border-right: 2px solid #937DC2;
    border-left: 2px solid #937DC2;
    border-top: 2px solid #937DC2;
    padding: 0.3rem;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
    font-size: 2rem;
}

body {
    background-color: #937DC2;
    color: #FFE6F7;
    font-family: 'Libre Baskerville', serif;
    margin: 0;
}

cite {
    font-size: 2rem;
}

p {
    font-size: 1.8rem;
}

.imageCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 7rem 4rem;
}

.imageCard img {
    width: 100%;
    height: auto;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.imageCard a {
    text-decoration: none;
    color: #FFFF00;
}

.cardText {
    color: #FFE6F7;
    text-align: center;
    padding: 2rem;
    border-radius: 30px;
    margin-top: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (min-width: 768px) {
    header {
        font-size: 1.6rem;
    }
    
    .gallery {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    
    .imageCard {
        max-width: 25%;
    }
}